

.category-container{
    width: 100%;
    margin-top: 5%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.category-heading{
    background: #f7444e;
    color:#fff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.category-heading::after{
    content: '';
    border-top: 40px solid #f7444e;
    border-right: 40px solid transparent;
    position: relative;
    left: 49px;
    top:35px;
}
.category-icon:hover{
color: #f7444e;
}

.product-top{
    position: relative;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
 
.product-top:hover .middle {
    opacity: 1;
  }

.product-top:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.1);
}

#dropdownMenuButton1{
    background-color: #f7444e!important;
}
.category-features{
    font-size: 30px;
    border: 2px solid #f7444e;
    border-radius: 7px;
}

.btn1{
    background-color: #f7444e;
    color: white;
 }
 .btn2{
   background-color: black;
   color: white;
 }
 .btn1:hover{
   border: 2px solid #f7444e;
   background-color: transparent;
   color: #f7444e;
 }
 .btn2:hover{
   border: 2px solid black;
   background-color: transparent;
   color:black;  
 
 }
.product-btn{
    width: 100%;
    border-radius: 25px;
}
.product-top:hover #product-img{
   opacity: 0.2;
}
.inner_page_head {
  background: #f7444e;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.inner_page_head h3 {
  font-size: 42px;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
    .category-heading::after{
        display: none;
    }
  }